* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url('static/images/background.jpg'); /* Set your background image */
    background-size: cover;
    background-position: center;
    color: #000000;
    text-align: center;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: rgba(18, 18, 18, 0.8); /* Slight transparency for background effect */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo h1 {
    color: #005707;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    color: #005707;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #f39c12;
}

.content {
    margin-top: 100px;
}

h2 {
    font-size: 36px;
    color: #f39c12;
}

p {
    font-size: 20px;
    color: #005707;
}
